html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

a {
  text-decoration: none; }

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-justify-center {
  justify-content: center; }

.l-space-between {
  justify-content: space-between; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  display: none;
  min-width: 188px; }
  @media (min-width: 576px) {
    .l-sidebar {
      display: inline-block; } }

.l-header {
  display: flex;
  align-items: center; }

.l-section {
  margin: 32px 0; }

.l-margin-left-2rem {
  margin-left: 2rem !important; }

.l-margin-left-4rem {
  margin-left: 4rem !important; }

.l-margin-0 {
  margin: 0;
  display: block; }

.badge {
  background: #ffdd40;
  border-radius: 4px;
  margin-left: 4px;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px; }

.button {
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block; }
  .button:hover {
    opacity: .4;
    cursor: pointer; }

.button-primary {
  color: #000;
  background-color: #47cf73; }

.button-secondary {
  background-color: #444857; }

.button-outline {
  border: 3px solid #aaaebc; }

.product-item-row {
  justify-content: center; }

.product-item {
  background: #2c303a;
  margin: 2rem 1rem;
  width: 360px; }
  .product-item img {
    border-radius: 4px;
    object-fit: cover;
    width: 100%; }

.product-message-body {
  color: #b7bbc8;
  margin-bottom: 16px; }

.product-item-card {
  border-radius: 4px;
  background: #2c303a;
  transition: .2s; }

.product-item-card:hover {
  transform: scale(1.05);
  opacity: .4;
  cursor: pointer; }

.product-item-card-image {
  width: 350px;
  border-radius: 4px;
  margin: auto;
  padding: 8px; }

.product-item-card-body {
  display: flex;
  padding: 16px;
  padding-top: 0; }

.product-item-card-body-avator {
  width: 40px;
  height: 40px;
  border-radius: 4px; }

.product-item-card-body-title {
  margin-left: 1rem; }
  .product-item-card-body-title p {
    margin: 0; }

.product-item-card-body-title-text {
  margin: 0; }

.product-item-card-footer {
  padding: 8px 16px; }

.product-item-card-footer-card {
  background: black;
  border-radius: 4px;
  margin-right: 4px;
  padding: 2px 4px; }

.product-item-list-footer {
  display: flex;
  justify-content: center; }

.code-box {
  background-color: #1d1e22;
  width: 300px;
  margin-bottom: 8px;
  border-radius: 6px;
  height: 150px;
  font-size: 16px;
  padding: 4px 8px; }

.code-title {
  padding-bottom: 4px;
  justify-content: space-between; }
  .code-title .fa:before {
    color: #b7bbc8; }

.code-title-text {
  margin: 0;
  margin-left: 8px; }

.code-content {
  font-size: 14px; }

.cord-box-html {
  position: relative;
  bottom: 20px;
  left: 160px; }

.cord-box-scss {
  position: relative;
  bottom: 20px;
  left: 220px; }

.cord-box-js {
  position: relative;
  bottom: 20px;
  left: 160px; }

.c-orange {
  color: #a88038; }

.c-yellow {
  color: #e1ca72; }

.c-green {
  color: #74b087; }

.c-pink {
  color: #9f8198; }

.c-blue {
  color: #7a99ad; }

.cursor {
  animation: blink 1s infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.features {
  justify-content: center; }

.futures-card {
  height: 340px;
  margin: 2rem 1rem; }

.futures-card-icon {
  background: black;
  position: relative;
  left: 16px;
  top: 32px;
  height: 64px;
  width: 64px;
  border-radius: 6px;
  text-align: center; }
  .futures-card-icon .fa {
    font-size: 48px;
    position: relative;
    top: 8px; }

.futures-card-content {
  padding: 2rem;
  width: 360px;
  border-radius: 6px;
  background: #2c303a; }

.futures-card-description {
  color: #b7bbc8; }

.futures-card-footer {
  margin: 16px 0; }

.footer {
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background: black; }

.footer-links-title {
  margin: 2px;
  margin-right: 1rem; }

.footer-links-link {
  margin-right: 1rem; }

.hero {
  margin: 32px; }

.hero-description {
  padding: 32px; }

.hero-description-title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0; }

.hero-description-detail {
  font-size: 1.1rem; }

.hero-button {
  width: 200px;
  font-size: 1.4rem; }

.demo-content {
  margin: 16px auto;
  border-radius: 6px;
  width: 495px;
  height: 410px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%); }

@media screen and (min-width: 576px) {
  .hero-content {
    display: flex;
    flex-wrap: wrap; }
  .hero-description, .demo {
    width: 50%; } }

.header-buttons {
  padding: 8px; }
  .header-buttons .button {
    margin-right: 8px;
    min-width: 100px; }

.hero-logo {
  font-size: 36px; }

.footer-logo {
  font-size: 2rem; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }

.fa-search {
  font-size: 20px !important; }

.search-form-input {
  margin-left: 16px;
  background-color: #252830;
  box-shadow: none;
  border: none;
  font-size: 20px;
  font-weight: bold; }

.sidebar {
  background: #1F1F26; }

.codepen-logo {
  text-align: center; }

.get-start-text {
  margin: .2em;
  font-size: .8em;
  text-align: center;
  color: #b7bbc8; }

.button-logo {
  margin: 0 16px;
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  padding: 0; }

.button-logo-text {
  display: block;
  background: black;
  padding: 8px;
  width: 100%; }

.sidebar-menu-sub-list {
  margin-bottom: 16px; }

.sidebar-menu-title {
  font-size: .8rem;
  margin-bottom: .2rem;
  margin-left: 16px; }

.sidebar-menu-link {
  display: block;
  padding-left: 16px; }

.text-accent {
  color: #0ebeff; }

.text-bold {
  font-weight: bold; }

.text-weak {
  color: #b7bbc8; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }
