.button
  border-radius: 4px
  padding: 8px 16px
  text-align: center
  display: inline-block

  &:hover
    opacity: .4
    cursor: pointer

.button-primary
  color: $black
  background-color: $btn-primary

.button-secondary
  background-color: $btn-secondary

.button-outline
  border: 3px solid $btn-outline
