.button
  border-radius: 4px
  padding: 8px 16px
  text-align: center
  display: inline-block

  &:hover
    opacity: .4
    cursor: pointer

// @mixin button
//   border-radius: 4px
//   padding: 8px 16px
//   text-align: center
//   display: inline-block

.button-primary
  color: #000
  background-color: #47cf73

.button-secondary
  background-color: #444857
