.code-box
  background-color: #1d1e22
  width: 300px
  margin-bottom: 8px
  border-radius: 6px
  height: 150px
  font-size: 16px
  padding: 4px 8px

.code-title
  padding-bottom: 4px
  justify-content: space-between

  .fa:before
    color: #b7bbc8

.code-title-text
  margin: 0
  margin-left: 8px

.code-content
  font-size: 14px

.cord-box-html
  position: relative
  bottom: 20px
  left: 160px

.cord-box-scss
  position: relative
  bottom: 20px
  left: 220px

.cord-box-js
  position: relative
  bottom: 20px
  left: 160px

.c-orange
  color: #a88038
.c-yellow
  color: #e1ca72
.c-green
  color: #74b087
.c-pink
  color: #9f8198
.c-blue
  color: #7a99ad

.cursor
  animation: blink 1s infinite

  @keyframes blink
    0%
      opacity: 0
    50%
      opacity: 0
    51%
      opacity: 1
    100%
      opacity: 1
      