.hero
  margin: 32px

.hero-content

.description
  padding: 32px

.description-title
  font-size: 3rem
  font-weight: 900
  margin: 0

.description-description
  font-size: 1.1rem

.description-button
  .button
    width: 200px
    font-size: 1.4rem

.demo-content
  margin: 16px auto
  border-radius: 6px
  width: 495px
  height: 410px
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%)